body {
    padding: 10px;
}

.fixed-size-img {
    height: 350px;      /* Set a fixed height for the images */
    object-fit: cover;  /* Cover ensures the image fills the container while maintaining aspect ratio */
}

hr {
    background-color: burlywood;
    height: 2px;
}

.card-img-top {
    width: auto;
    height: 150px; /* Fixed height */
    object-fit: contain; /* Maintain aspect ratio and crop */
}
.card-body {
    text-align: center; /* Center content in card body */
}