{% extends "auctions/layout.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}

<div class="container-fluid m-3">
    <h2>User Profile</h2>
    <p>user : <i class="lead">
        {% if new_user == user %}
        {{ user.username }}
        {% else %}
        {{ new_user.username }}
        {% endif %}
    </i></p>
    <p>email : <i class="lead">
        {% if new_user == user %}
        {{ user.email }}
        {% else %}
        {{ new_user.email }}
        {% endif %}
    </i>
        {% if new_user != user %}
        (for contact)
        {% endif %}
    </p>

    <hr>
    
    <h2>
        {% if new_user == user %}
        My
        {% else %}
        User's Active
        {% endif %}    
    Listings:</h2>

    {% if new_user == user %}
        <form class="float-right" action="{% url 'profile' user.id %}" method="post">
            {% csrf_token %}
            {{ listing_filter }}
        </form>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var filterSelect = document.querySelector('select[name="filter_option"]');
                filterSelect.addEventListener('change', function () {
                    this.form.submit();
                });
            });
        </script>
    {% else %}
        
    {% endif %}

    
</div>

{% endblock %}