{% extends "auctions/listing_list_view.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block header %}
<div class="container-fluid m-3">
    <h2>User Profile</h2>
    <div class="text-center">
        <h3>Username: <span class="lead">{{new_user.username}}</span></h3>
        <h3>Email: <a class="lead" 
        {% if new_user != user %}
            href="mailto{{new_user.email}}" title="for contact"
        {% endif %}
            >{{new_user.email}}</a></h3>
    </div>
    <hr>
    <h2>
        {% if new_user == user %}
        My
        {% else %}
        {{new_user.username}}'s Active
        {% endif %}    
        Listings:
    </h2>
    {% if new_user == user %}
        <div class="container">
            <form action="{% url 'profile' user.id %}" method="post">
                {% csrf_token %}
                <div class="form-row justify-content-end align-items-center">
                    <div class="col-auto mt-2">
                        {{ listing_filter }}
                    </div>
                    <div class="col-auto">
                        <input type="submit" class="btn btn-primary btn-sm" value="Filter">
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}
